html,body{
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
#app{
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
}