.container{
    position: relative;
    width: 100%;
    height: 100%;
}
.service{
    position: absolute;
    top: 0.6rem;
    left: 4rem;
    width: 2.1rem;
    height: 0.25rem;
}
.toilet{
    position: absolute;
    top: 1rem;
    left: 1.56rem;
    width: 4.5rem;
    height: 0.75rem;
}
.listener{
    position: absolute;
    top: 1.35rem;
    left: 6.25rem;
    width: 2rem;
    height: 0.4rem;
}
.talLine{
    position: absolute;
    top: 1.75rem;
    left: 1.5rem;
    width: 13.5rem;
    height: 0.12rem;
}

.ToiletIconBox{
    position: absolute;
    right: 3.8rem;
    bottom: 4.1rem;
    width: 1.5rem;
    height: 2.5rem;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.ToiletIconBox img{
    width: 0.65rem;
    height: 1.8rem;
}
.ToiletIconBox span{
    width: 100%;
    height: 0.7rem;
    text-align: center;
    line-height: 0.7rem;
    font-size: 0.45rem;
    font-weight: 600;
    color: white;
    letter-spacing: 0.07rem;
}

.InfoBox{
    position: absolute;
    right: 1.2rem;
    bottom: 4.15rem;
    width: 2rem;
    height: 2.5rem;
    font-family: Arial, Helvetica, sans-serif;
    /* background-color: rgba(22, 223, 223, 0.113); */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.InfoBox .NoUseCount{
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background-color: aquamarine;
}
.InfoBox .TotalPos{
    width: 100%;
    height: 0.5rem;
    text-align: center;
    line-height: 0.5rem;
    font-size: 0.25rem;
    /* background-color: blue; */
    color: white;
}

.InfoBox .PassengerFlow{
    width: 100%;
    height: 0.5rem;
    /* background-color: bisque; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 0 0.25rem 0 0.2rem;
}
.InfoBox .PassengerFlow .FlowLabel{
    width: auto;
    height: 100%;
    font-size: 0.28rem;
    color: rgb(0,255,255);
    line-height:0.5rem;
    letter-spacing: 0.05rem;
}
.InfoBox .PassengerFlow .FlowCount{
    width: auto;
    height: 100%;
    font-size: 0.3rem;
    color: rgb(255, 255, 255);
    line-height:0.5rem;
}
.InfoBox .PassengerFlow  .Unit{
    width: auto;
    height: 100%;
    font-size: 0.16rem;
    color: white;
    line-height: 0.55rem;
}
.peopleIcon{
    position: absolute;
    top: 2rem;
    right: 4rem;
    width: 0.6rem;
    height: 1.5rem;
}
.pafline-top{
    position: absolute;
    bottom: 3.9rem;
    right: 0rem;
    width: 6rem;
    height: 0.108rem;
}
.pafline-middle{
    position: absolute;
    bottom: 2.35rem;
    right: 0rem;
    width: 6rem;
    height: 0.108rem;
}
.FourBox{
    position: absolute;
    bottom: 1.05rem;
    right: 1.05rem;
    width: 5rem;
    height: 2.75rem;
}
.DateBox{
    position: absolute;
    top: 0.6rem;
    right: 1rem;
    width: 3.7rem;
    height: 1.6rem;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.DateBox .Years-Month-Day{
    width: 100%;
    flex: 0 0 40%;
    background-color: azure;
    display: flex;
    align-items: center;
    justify-content: center;
}
.DateBox .Years-Month-Day .Years{
    width: auto;
    font-size: 0.3rem;
}
.DateBox .Years-Month-Day .Month{
    margin-left: 0.08rem;
    width: auto;
    font-size: 0.3rem;
}
.DateBox .Years-Month-Day .Day{
    margin-left: 0.08rem;
    width: auto;
    font-size: 0.3rem;
}
.DateBox  .Week-WeekEn{
    width: 100%;
    flex: 0 0 30%;
    background-color: rgb(118, 189, 189);
    display: flex;
    align-items: center;
    justify-content: center;
}
.DateBox  .Week-WeekEn .Weekzh{
    width: auto;
    font-size: 0.28rem;
}

.DateBox  .Week-WeekEn .WeekEn{
    width: auto;
    font-size: 0.28rem;
}


.DateBox  .Am-H-M-S {
    width: 100%;
    flex: 0 0 40%;
    background-color: rgb(177, 108, 147);
    display: flex;
    align-items: center;
    justify-content: center;
}
.DateBox  .Am-H-M-S .AM{
    width: auto;
    font-size: 0.3rem;
}
.DateBox  .Am-H-M-S .H{
    width: auto;
    font-size: 0.3rem;
}
.DateBox  .Am-H-M-S .M{
    width: auto;
    font-size: 0.3rem;
}
.DateBox  .Am-H-M-S .S{
    width: auto;
    font-size: 0.3rem;
}